





/* Clamp Static values */
width: clamp(200px, 40%,  400px);
width: clamp(20rem, 30vw, 70rem);
width: clamp(10vw,  20em, 100vw);















/* Clamp Calculated values */
width: clamp(min(10vw, 20rem), 300px, max(90vw, 55rem));
width: clamp(100px, calc(30% / 2rem + 10px), 900px);


/* Zebra stripe for more than two colors */
.zebraStrip &gt; div:nth-child(6n+1),
.zebraStrip &gt; div:nth-child(6n+4){
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF3C2 100%);
}
.zebraStrip &gt; div:nth-child(6n+2),
.zebraStrip &gt; div:nth-child(6n+5){
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DB96FF 100%);
}
.zebraStrip &gt; div:nth-child(6n+3),
.zebraStrip &gt; div:nth-child(6n){
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFDADE 100%);
}


/* Zoom everything on bigger screens */

@media (min-width:2000px) and (max-width:2399px) { // 2304 x 1440	Retina (Apple only) 
  html {
    zoom: 1.25;
  }
}

@media (min-width:2400px) and (max-width:2599px) { // 2k - 2560 x 1440
  html{
    zoom: 1.5;
  }
}

@media (min-width:2600px) and (max-width:3299px) { // 3K - 3200 x 1800
  html{
    zoom: 1.75;
  }
}

@media (min-width:3300px) and (max-width: 4000px) { // 4K - 3840 x 2160
  html{
    zoom: 2;
  }
}



// Eleastic background method
.onextel-page-tabs-link:nth-child(4).tabs-link-active ~ .bg-elastic {
  left: 50%;
}